#container-news-admissions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-block: 50px !important ;
}

#container-news-admissions h3:first-child {
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 20px !important;
}

#container-news-admissions .content-news {
  display: flex;
  gap: 30px;
}
#container-news-admissions .content-news:not(:last-child) {
  margin-bottom: 35px !important;
}

#container-news-admissions .content-news img {
  max-width: 207px;
  height: 117px;
}

#container-news-admissions .content-news h3 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}
.container-news-item .news-read-more {
  text-align: end;
}
.container-news-item .news-read-more svg{
  color: var(--color-primary);
}
.container-news-item .news-read-more span{
  color: var(--color-primary);
}

#bg-why h3:first-child{
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 20px !important;
}

#bg-why .bg-why-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
#bg-why .bg-why-section .bg-why-item {

  text-align: center;
}

#bg-why .bg-why-section .bg-why-item>img{
  max-width: 100px;
  height: 100px;
}

#bg-why .bg-why-section .bg-why-item:nth-child(2)>img{
  max-width: 200px;
  height: 100px;
}

#bg-why .bg-why-section .bg-why-item p{
  font-size: 18px;
  color: var(--color-primary);
  font-weight: 500;
}


#bg-why .bg-why-section .bg-why-item .fa-star{
  color: yellow;
  width: 37px;
  height: 40px;
}


#bg-why .bg-why-section .bg-why-item p:first-child{
  font-size: 60px;
  height: 100px;
}


#banner-home-container .text-banner-content .title {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px !important;
}

#banner-home-container .text-banner-content .title p {
  max-width: 600px;
  font-weight: bold;
  font-size: 35px;
}

#banner-home-container .text-banner-content .btn-read-more {
  max-width: 20%;
  margin-top: 30px !important;
  background-color: #e2a606;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding-block: 8px !important;
  transition: color 0.3s linear;
}

#banner-home-container .text-banner-content {
  left: 20%;
  top:  0%;
}

#banner-home-container .text-banner-content .btn-read-more:hover {
  background-color: white;
  color: black;
  border: 1px solid #e2a606;
  animation:fade-in-btn-read-more 0.5s linear;
}

@keyframes fade-in-btn-read-more {
  0%{
    background-color: transparent;
  }
  100%{
    background-color: white;
    color: black;
    border: 1px solid #e2a606;
  }
}

@keyframes fade-down-text-banner {
  0%{
    top:  0%;
  }
  50%{
    top: 10%;
  }
  100%{
    top: 20%;
  }
}

