.train-container article {
    /* background-color: red !important; */
    display: flex;
    gap: 40px;
}
.train-container article:first-child div:nth-child(1){
    flex-basis: 250px;
}
.train-container article:first-child div:nth-child(2){
    flex-grow: 6;
}

.menu-train-left .menu>span:first-child{
    display: flex;
    gap: 10px;
    align-items: center;    
}
.menu-train-left .menu a{
    color: black;
    font-size: 14px;
}
.menu-train-left .menu {
   overflow: hidden;
}

.menu-train-left .menu>span:first-child .icon-chervon-bottom{
    width: 8px;
    height: 8px;
    position: relative;
    top: -2px;
}
.menu-train-left .menu>span:first-child .icon-chervon-right{
    width: 8px;
    height: 8px; 
}

.menu-train-left .menu .submenu li.active{
    background-color: #ebebeb;
    font-weight: 500;
}
.menu-train-left .menu span:first-child:hover{
    background-color: #ebebeb;
    font-weight: 500;
    transition: all 0.1s linear;
}
.menu-train-left .menu .submenu li:hover{
    background-color: #ebebeb;
    font-weight: 500;
    transition: all 0.1s linear;
}

.menu-train-left .menu span:first-child,
.menu-train-left .menu .submenu li{
    padding: 10px 4px !important;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.menu-train-left .menu .submenu li{
    position: relative;
    left: 15px;
}
.menu-train-left .menu .submenu{
    display: none;
}
.menu-train-left .menu >span:first-child>label{
    cursor: pointer !important;
    user-select: none;
}
.menu-train-left .menu>.menu-active:checked + .submenu{
    display: block !important;
}
.menu-train-left .menu:has(.menu-active:checked) .icon-chervon-right{
    display: none;
}
.menu-train-left .menu:has(.menu-active:checked) .icon-chervon-bottom{
    display: block !important;
}
.menu-train-left .menu .submenu li{
    width: 95%;
}




